.button{
  border-radius: 30px;
  color: white;
  background: #000000;
  padding: 10px;
  width: auto;
  height: auto;
  border-color: black;
  font-size: 60%;
  margin-top: 10px;
  margin-bottom: 50;
  margin-right: 10px;
  text-align: center;
  position: relative;
  bottom: 100px;
}
body{
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em
}
#beginandend{
  text-align: center;
  border-radius: 30px;
  color:white;
  background: #000000;
  padding: 0.4em;
  width: auto;
  height: auto;
}
#viruspage{
  text-align: center;
  border-radius: 30px;
  color:white;
  background: #000000;
  padding: 0.4em;
  width: auto;
  height: auto;
  font-size: 1em
}
#mainpagetext{
  text-align: center;
  border-radius: 30px;
  color:white;
  background: #000000;
  padding: 0.4em;
  width: auto;
  height: auto;
}
#calculator{
  position: relative;
  top: 100px;
  border-radius: 30px;
  color: white;
  background: #000000;
  padding: 0.4em;
  width: auto;
  height: auto;
}

#widget{
  position: relative;
  top: 25px;
}

#buymygame{
  position: relative;
  border-radius: 30px;
  color:white;
  background: #000000;
  padding: 0.4em;
  width: 12em;
  height: auto;
  top: 5em;
}
#textwithbg {
  background-color: black;
  font-size: 50px;
}
chicknbutton {
  font-size: 100px;
}
