
.button{
  border-radius: 30px;
  color: white;
  background: #000000;
  padding: 10px;
  border-color: black;
  font-size: 60%;
  margin: 5px;
  cursor: pointer;
  transform: translateY(-40%);
}

.center{
  text-align: center;
}
.ul{
  list-style: none;
}
li{
  display: inline-block;
}
body{
  background-image: url("greyscratch.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em
}
#beginandend{
  text-align: center;
  border-radius: 30px;
  color:white;
  background: #000000;
  padding: 0.4em;
  width: auto;
  height: auto;
}
#viruspage{
  text-align: center;
  border-radius: 30px;
  color:white;
  background: #000000;
  padding: 0.4em;
  width: auto;
  height: auto;
  font-size: 1em
}
#mainpagetext{
  text-align: center;
  border-radius: 30px;
  color:white;
  background: #000000;
  padding: 0.4em;
  width: auto;
  height: auto;
}
#calculator{
  position: relative;
  top: 100px;
  border-radius: 30px;
  color: white;
  background: #000000;
  padding: 0.4em;
  width: auto;
  height: auto;
}

.widget{
  text-align: center;
  margin: auto;
  transform: translateY(35%);
}

.buymygame{
  border-radius: 30px;
  color:white;
  background: #000000;
  width: 12em;
  padding: 0.4em;
  text-align: center;
  margin: auto;
  transform: translateY(165%);
}


#textwithbg {
  background-color: black;
  font-size: 50px;
}
chicknbutton {
  font-size: 100px;
}

.twitch{
  border-radius: 30px;
  color:white;
  background: #000000;
  width: 12em;
  padding: 0.4em;
  text-align: center;
  margin: auto;
  transform: translateY(-100%);
}

.twitchpage{
  border-radius: 30px;
  color:white;
  background: #000000;
  width: 7em;
  font-size: 100%;
  padding: 0.3em;
  transform: translateY(182%);
  cursor: pointer;
  text-align: center;
  margin: auto;
}